# Basic Python

## Split this string

In [1]:
s = "What the hell!"

In [2]:
s.split()

['What', 'the', 'hell!']

## Use .format() to print the following string.

In [48]:
shape = "Circle"
circumferance = '2πr'

In [49]:
print("The circumferance of a {} is {}.".format(shape,circumferance))

The circumferance of a Circle is 2πr.

## In this nest dictionary grab the word "hello"

In [25]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [26]:
print(d['k1'][3]['tricky'][3]['target'][3])

hello

# Numpy

In [27]:
import numpy as np

In [13]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [14]:
np.ones(10) * 5

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

## Create an array of all the odd integers from 2 to 50

In [29]:
np.arange(2,50,1)

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])

## Create a 3x3 matrix

In [32]:
np.arange(31,40).reshape(3,3)

array([[31, 32, 33],
       [34, 35, 36],
       [37, 38, 39]])

## Concatination

In [20]:
a = np.array([1,2,3])
b = np.array([4,5,6])
c = np.concatenate((a,b))
print(c)

[1 2 3 4 5 6]

# Pandas

## Create a dataframe

In [46]:
import pandas as pd
df = pd.DataFrame({"Name":['Vetri','Nithin','Suresh'],"Grade":['A', 'B', 'A+']})#object

In [42]:
print(df)

     Name Grade
0   Vetri     A
1  Nithin     B
2  Suresh    A+

## Generate the series of dates

In [36]:
np.arange('2001-01-01','2002-02-10',dtype='datetime64[D]')

array(['2001-01-01', '2001-01-02', '2001-01-03', '2001-01-04',
       '2001-01-05', '2001-01-06', '2001-01-07', '2001-01-08',
       '2001-01-09', '2001-01-10', '2001-01-11', '2001-01-12',
       '2001-01-13', '2001-01-14', '2001-01-15', '2001-01-16',
       '2001-01-17', '2001-01-18', '2001-01-19', '2001-01-20',
       '2001-01-21', '2001-01-22', '2001-01-23', '2001-01-24',
       '2001-01-25', '2001-01-26', '2001-01-27', '2001-01-28',
       '2001-01-29', '2001-01-30', '2001-01-31', '2001-02-01',
       '2001-02-02', '2001-02-03', '2001-02-04', '2001-02-05',
       '2001-02-06', '2001-02-07', '2001-02-08', '2001-02-09',
       '2001-02-10', '2001-02-11', '2001-02-12', '2001-02-13',
       '2001-02-14', '2001-02-15', '2001-02-16', '2001-02-17',
       '2001-02-18', '2001-02-19', '2001-02-20', '2001-02-21',
       '2001-02-22', '2001-02-23', '2001-02-24', '2001-02-25',
       '2001-02-26', '2001-02-27', '2001-02-28', '2001-03-01',
       '2001-03-02', '2001-03-03', '2001-03-04', '2001-03-05',
       '2001-03-06', '2001-03-07', '2001-03-08', '2001-03-09',
       '2001-03-10', '2001-03-11', '2001-03-12', '2001-03-13',
       '2001-03-14', '2001-03-15', '2001-03-16', '2001-03-17',
       '2001-03-18', '2001-03-19', '2001-03-20', '2001-03-21',
       '2001-03-22', '2001-03-23', '2001-03-24', '2001-03-25',
       '2001-03-26', '2001-03-27', '2001-03-28', '2001-03-29',
       '2001-03-30', '2001-03-31', '2001-04-01', '2001-04-02',
       '2001-04-03', '2001-04-04', '2001-04-05', '2001-04-06',
       '2001-04-07', '2001-04-08', '2001-04-09', '2001-04-10',
       '2001-04-11', '2001-04-12', '2001-04-13', '2001-04-14',
       '2001-04-15', '2001-04-16', '2001-04-17', '2001-04-18',
       '2001-04-19', '2001-04-20', '2001-04-21', '2001-04-22',
       '2001-04-23', '2001-04-24', '2001-04-25', '2001-04-26',
       '2001-04-27', '2001-04-28', '2001-04-29', '2001-04-30',
       '2001-05-01', '2001-05-02', '2001-05-03', '2001-05-04',
       '2001-05-05', '2001-05-06', '2001-05-07', '2001-05-08',
       '2001-05-09', '2001-05-10', '2001-05-11', '2001-05-12',
       '2001-05-13', '2001-05-14', '2001-05-15', '2001-05-16',
       '2001-05-17', '2001-05-18', '2001-05-19', '2001-05-20',
       '2001-05-21', '2001-05-22', '2001-05-23', '2001-05-24',
       '2001-05-25', '2001-05-26', '2001-05-27', '2001-05-28',
       '2001-05-29', '2001-05-30', '2001-05-31', '2001-06-01',
       '2001-06-02', '2001-06-03', '2001-06-04', '2001-06-05',
       '2001-06-06', '2001-06-07', '2001-06-08', '2001-06-09',
       '2001-06-10', '2001-06-11', '2001-06-12', '2001-06-13',
       '2001-06-14', '2001-06-15', '2001-06-16', '2001-06-17',
       '2001-06-18', '2001-06-19', '2001-06-20', '2001-06-21',
       '2001-06-22', '2001-06-23', '2001-06-24', '2001-06-25',
       '2001-06-26', '2001-06-27', '2001-06-28', '2001-06-29',
       '2001-06-30', '2001-07-01', '2001-07-02', '2001-07-03',
       '2001-07-04', '2001-07-05', '2001-07-06', '2001-07-07',
       '2001-07-08', '2001-07-09', '2001-07-10', '2001-07-11',
       '2001-07-12', '2001-07-13', '2001-07-14', '2001-07-15',
       '2001-07-16', '2001-07-17', '2001-07-18', '2001-07-19',
       '2001-07-20', '2001-07-21', '2001-07-22', '2001-07-23',
       '2001-07-24', '2001-07-25', '2001-07-26', '2001-07-27',
       '2001-07-28', '2001-07-29', '2001-07-30', '2001-07-31',
       '2001-08-01', '2001-08-02', '2001-08-03', '2001-08-04',
       '2001-08-05', '2001-08-06', '2001-08-07', '2001-08-08',
       '2001-08-09', '2001-08-10', '2001-08-11', '2001-08-12',
       '2001-08-13', '2001-08-14', '2001-08-15', '2001-08-16',
       '2001-08-17', '2001-08-18', '2001-08-19', '2001-08-20',
       '2001-08-21', '2001-08-22', '2001-08-23', '2001-08-24',
       '2001-08-25', '2001-08-26', '2001-08-27', '2001-08-28',
       '2001-08-29', '2001-08-30', '2001-08-31', '2001-09-01',
       '2001-09-02', '2001-09-03', '2001-09-04', '2001-09-05',
       '2001-09-06', '2001-09-07', '2001-09-08', '2001-09-09',
       '2001-09-10', '2001-09-11', '2001-09-12', '2001-09-13',
       '2001-09-14', '2001-09-15', '2001-09-16', '2001-09-17',
       '2001-09-18', '2001-09-19', '2001-09-20', '2001-09-21',
       '2001-09-22', '2001-09-23', '2001-09-24', '2001-09-25',
       '2001-09-26', '2001-09-27', '2001-09-28', '2001-09-29',
       '2001-09-30', '2001-10-01', '2001-10-02', '2001-10-03',
       '2001-10-04', '2001-10-05', '2001-10-06', '2001-10-07',
       '2001-10-08', '2001-10-09', '2001-10-10', '2001-10-11',
       '2001-10-12', '2001-10-13', '2001-10-14', '2001-10-15',
       '2001-10-16', '2001-10-17', '2001-10-18', '2001-10-19',
       '2001-10-20', '2001-10-21', '2001-10-22', '2001-10-23',
       '2001-10-24', '2001-10-25', '2001-10-26', '2001-10-27',
       '2001-10-28', '2001-10-29', '2001-10-30', '2001-10-31',
       '2001-11-01', '2001-11-02', '2001-11-03', '2001-11-04',
       '2001-11-05', '2001-11-06', '2001-11-07', '2001-11-08',
       '2001-11-09', '2001-11-10', '2001-11-11', '2001-11-12',
       '2001-11-13', '2001-11-14', '2001-11-15', '2001-11-16',
       '2001-11-17', '2001-11-18', '2001-11-19', '2001-11-20',
       '2001-11-21', '2001-11-22', '2001-11-23', '2001-11-24',
       '2001-11-25', '2001-11-26', '2001-11-27', '2001-11-28',
       '2001-11-29', '2001-11-30', '2001-12-01', '2001-12-02',
       '2001-12-03', '2001-12-04', '2001-12-05', '2001-12-06',
       '2001-12-07', '2001-12-08', '2001-12-09', '2001-12-10',
       '2001-12-11', '2001-12-12', '2001-12-13', '2001-12-14',
       '2001-12-15', '2001-12-16', '2001-12-17', '2001-12-18',
       '2001-12-19', '2001-12-20', '2001-12-21', '2001-12-22',
       '2001-12-23', '2001-12-24', '2001-12-25', '2001-12-26',
       '2001-12-27', '2001-12-28', '2001-12-29', '2001-12-30',
       '2001-12-31', '2002-01-01', '2002-01-02', '2002-01-03',
       '2002-01-04', '2002-01-05', '2002-01-06', '2002-01-07',
       '2002-01-08', '2002-01-09', '2002-01-10', '2002-01-11',
       '2002-01-12', '2002-01-13', '2002-01-14', '2002-01-15',
       '2002-01-16', '2002-01-17', '2002-01-18', '2002-01-19',
       '2002-01-20', '2002-01-21', '2002-01-22', '2002-01-23',
       '2002-01-24', '2002-01-25', '2002-01-26', '2002-01-27',
       '2002-01-28', '2002-01-29', '2002-01-30', '2002-01-31',
       '2002-02-01', '2002-02-02', '2002-02-03', '2002-02-04',
       '2002-02-05', '2002-02-06', '2002-02-07', '2002-02-08',
       '2002-02-09'], dtype='datetime64[D]')

## Create 2D list to DataFrame

In [34]:
lists = [[1, 2, 3], [11, 22, 33], [111, 222, 333]]

In [35]:
df = pd.DataFrame(lists)
print(df)

     0    1    2
0    1    2    3
1   11   22   33
2  111  222  333